*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #2f2f2f;
  --red: #de1212;
  --white: #fdf4eb;

  /* Font Sizes */
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 3rem;
}

body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  color: var(--black);
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}